body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: baseline;
  margin-left: 10px;
  justify-content: space-between;
  background-color: #2c373c;
  padding: 0px;
  font-size: 1em;
}

#me {
  margin-top: -20px;
  margin-bottom: -20px;
  margin: 0px;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
#me p {
  font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

header h1 {
  margin-bottom: 0px;
  margin: -20;
}
header p {
  font-size: 0.8em;
  margin-top: 0;
}

.links {
  display: flex;
  justify-content: center;
  float: right;
  margin-left: auto;
  margin-right: -50px;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: italic;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 100px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main img {
  border-radius: 50%;
  width: 250px;
}

.briefMe {
  width: 800px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: italic;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

.contacts {
  width: 800px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: italic;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

.trabalho {
  width: 800px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: italic;
  padding: 20px;
}
.trabalho h3,
p {
  text-align: center;
  font-size: 1em;
}
.trabalho h1 {
  text-align: center;
  font-size: 3em;
}

.certificados {
  width: 800px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: italic;
  padding: 20px;
}
.certificados h3,
p,
a {
  text-align: center;
  font-size: 1em;
}
.certificados h1 {
  text-align: center;
  font-size: 3em;
}

.educacao {
  width: 800px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: italic;

  padding: 20px;
}
.educacao h3,
p {
  text-align: center;
  font-size: 1em;
}
.educacao h1 {
  text-align: center;
  font-size: 3em;
}

.mailTo {
  width: 800px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-family: "Oswald", sans-serif;
  font-weight: 350;
  font-style: italic;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}
